:root {

  @font-face {
    font-family: 'Bootle';
    src: url('./assets/fonts/Bootle-4B9l.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  line-height: 1.6;
  font-weight: 400;

  color-scheme: dark;
  color: #f0f0f0;
  background-color: #1a1a2e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}